@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin" as *;

.contact-form {
    padding-bottom: 10rem;
    @include sp {
        padding-bottom: 10.8rem;
    }
}

.contact-form__contents {
    padding-top: 6.6rem;
    @include sp {
        padding-top: 4.6rem;
    }
}
.contact-form__intro {
    margin-bottom: 6.5rem;
    text-align: center;
    @include sp {
        text-align: left;
        margin-bottom: 3.2rem;
    }
    p {
        font-size: 1.8rem;
        line-height: lh(30, 18);
        font-weight: 500;
        @include sp {
            font-size: 1.6rem;
            line-height: lh(30, 16); 
        }
    }
}
.contact-form__item,
.contact-form__checkbox,
.contact-form__message {
    display: flex;
    column-gap: 2.9rem;
    @include sp {
        display: block;
    }
    dt {
        width: 14rem;
        font-size: 2rem;
        line-height: lh(33, 20);
        font-weight: 500;
        @include sp {
            width: 100%;
            font-size: 1.6rem;
            line-height: lh(33, 16);
        }
    }
    dd {
        flex: 1;
    }
}
.contact-form__item {
    align-items: center;
    &:not(:last-of-type) {
        margin-bottom: 3rem;
        @include sp {
            margin-bottom: 1.6rem;
        }
    }
}
.contact-form__checkbox {
    align-items: flex-start;
    margin-bottom: 2.8rem;
    @include sp {
        margin-bottom: 0.6rem;
    }
    dt {
        margin-bottom: -0.4rem;
    }
    dd {
        margin-top: -0.6rem;
        @include sp {
            margin-top: 0;
        }
    }
}
.contact-form__message {
    align-items: flex-start;
    margin-bottom: 4.8rem;
    @include sp {
        margin-bottom: 5.2rem;
    }
    dt {
        margin-top: 0.6rem;
        @include sp {
            margin-top: 0;
        }
    }
}
.contact-form__input {
    width: 100%;
    height: 4rem;
    border: .5px solid $color-black;
    font-size: 1.5rem;
    font-weight: 500;
    padding-inline: 2rem;
}
.wpcf7-list-item {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0;
    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }
    @include sp {
        padding-left: 2.7rem;
    }
    input[type="checkbox"] {
        cursor: pointer;
        &::before {
            content: "";
            width: 2rem;
            height: 2rem;
            border: .5px solid $color-black;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;

        }
        &::after {
            content: "";
            width: 2rem;
            height: 2rem;
            background-color: $color-red;
            clip-path: polygon(0 1rem, 1rem 2rem, 2rem 0, 0.9rem 1.4rem);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            display: none;
        }
        &:checked {
            &::after {
                display: block;
            }
        }
    }
    span {
        font-size: 1.8rem;
        line-height: lh(30, 18);
        font-weight: 500;
        @include sp {
            font-size: 1.6rem;
            line-height: lh(30, 16);
        }
    }
}
.wpcf7-list-item-label {
    cursor: pointer;
    padding: 0 0 0 3.7rem;
}
.contact-form__textarea {
    width: 100%;
    min-height: 30rem;
    border: .5px solid $color-black;
    padding: 1.3rem 2rem;
    font-size: 1.5rem;
    line-height: lh(33, 15);
    font-weight: 500;
    resize: vertical;
    @include sp {
        min-height: 19rem;
        padding: 1.2rem 2rem;
        line-height: lh(25, 15);
    }
}
.contact-form__btn {
    text-align: center;
    width: 25rem;
    color: $color-white;
    background-color: $color-red;
    border: 1px solid $color-red;
    margin: 0 auto;
    cursor: pointer;
    transition: .3s;
    @include sp {
        width: 33.5rem;
    }
    &:hover {
        background-color: $color-white;
        color: $color-red;
    }
    input[type="submit"] {
        width: 100%;
        padding-block: 1rem;
        font-size: 2.5rem;
        font-weight: bold;
        @include sp {
            font-size: 2rem;
            padding-block: 1.2rem;
        }
    } 
}

.wpcf7-spinner {
    display: none;
}

.wpcf7 form .wpcf7-response-output {
    border: none;
    font-size: 2rem;
    color: $color-red;
    text-align: center;
    @include sp {
        font-size: 1.8rem;
    }
}

.wpcf7 form.sent .wpcf7-response-output {
    display: none;
}

.wpcf7-not-valid-tip {
    font-size: 1.5rem;
    color: $color-red;
    margin-top: 0.5rem;
    display: none !important;
    @include sp {
        font-size: 1.3rem;
    }
}

.wpcf7-form.invalid .wpcf7-not-valid-tip,
.wpcf7-form.unaccepted .wpcf7-not-valid-tip {
  display: block !important;
}