@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin" as *;


.top-blog__heading {
    text-align: center;
    margin-bottom: 3.7rem;
    @include sp {
        margin-bottom: 3.9rem;
    }
}

.top-blog__items {
    display: flex;
    justify-content: left;
    column-gap: 5rem;
    margin-bottom: 3.8rem;
    @include sp {
        display: block;
        margin-bottom: 3.6rem;
    }
}

.top-blog__item {
    width: 26rem;
    position: relative;
    display: block;
    transition: .3s;
    @include sp {
        width: 100%;
    }

    &:not(:last-of-type) {
        @include sp {
            margin-bottom: 4.1rem;
        }
    }

    &:hover {
        opacity: 0.7;
    }
}

.top-blog__image {
    overflow: hidden;
    margin-bottom: 2rem;
    @include sp {
        margin-bottom: 3rem;
    }

    img {
        aspect-ratio: 13 / 10;
        object-fit: cover;
        @include sp {
            aspect-ratio: 67 / 40;
        }
    }
}

.top-blog__text {
    margin-bottom: .8rem;
    @include sp {
        margin-bottom: 0.6rem;
    }

    h3 {
        font-size: 2rem;
        line-height: lh(25, 20);
        font-weight: bold;
        @include sp {
            line-height: lh(30, 20);
        }
    }
}

.top-blog__tag {
    min-width: 8rem;
    @include sp {
        min-width: 9rem;
    }
}

.top-blog__date {
    text-align: right;
    font-size: 1.7rem;
    line-height: lh(30, 17);
    font-weight: 500;
}

.top-blog__link {
    text-align: right;
    font-size: 1.8rem;
    line-height: lh(30, 18);
    font-weight: 500;
    @include sp {
        text-align: center;
    }
    a {
        padding: 1rem;
        margin-right: -1rem;
        text-decoration: underline;
        text-decoration-thickness: 0.05rem;
        transition: .3s;
        &:hover {
            opacity: 0.6;
        }
    }
}