@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin" as *;

.top-message {
    padding-block: 6.8rem 6rem;
    @include sp {
        padding-block: 4.9rem 4rem;
    }
}
.top-message__contents {
    text-align: center;
}
.top-message__heading {
    margin-bottom: 3rem;
    @include sp {
        margin-bottom: 1.4rem;
    } 
}
.top-message__text {
    font-size: 1.8rem;
    line-height: lh(30, 18);
    font-weight: 500;
}